.login{
    margin: 1rem;
    border: 2px solid #8b0000;
    border-radius: 5px;
}

.title{
    text-align: center;
    padding-top: 3rem;
    color: #8b0000;
}

.form{
    display: grid;
    align-items: center;
    padding: 5rem;
}

.button{
margin: 1rem;
}
.input{
 padding: 1rem;
 margin: 1rem;
}

