# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt


# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env*
!.env.example*

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Build files
**/dist
.DS_Store

# Development / Docker
docker/data/*
!docker/data/node-red

# Test coverage
packages/**/coverage

postgres/data
