# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env*
!.env.example*

# npm / yarn
node_modules/
yarn-debug.log*
yarn-error.log*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Build files
**/dist
.DS_Store

# Development / Docker
docker/data/*
!docker/data/node-red

# Test coverage
packages/**/coverage

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts