
/* root (default) */
:root {
	--spacing: 2px;
	--space-1: calc(1 * var(--spacing));
	--space-2: calc(2 * var(--spacing));
	--space-3: calc(3 * var(--spacing));
	--space-4: calc(4 * var(--spacing));
	--space-5: calc(5 * var(--spacing));
	--space-6: calc(6 * var(--spacing));
	--space-7: calc(7 * var(--spacing));
	--space-8: calc(8 * var(--spacing));
	--space-9: calc(9 * var(--spacing));
	--space-10: calc(10 * var(--spacing));
}

/* mode-specific (TBD) */
