.form {
    background-color: #fff;
    box-shadow: 0 10px 60px rgb(218, 229, 255);
    border: 1px solid rgb(159, 159, 160);
    border-radius: 20px;
    text-align: center;
    font-size: 1.125rem;
    width: 60vw;
    max-width: 875px;
    height: 80vh;
    z-index: 5;
    position: relative;
    margin-top: 1rem;
  }


  .group{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
  }

  .button{
    font: 1.125rem 'Knockout', sans-serif;
    background-color: var(--main);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s all ease;
  }

  .button:hover{
    background-color: var(--secondary);
    transition: 0.5s all ease;
  }

  .image{
    width: 59.85vw;
    max-width: 875px;
    height: 40vh;
    border-radius: 20px 20px 0px 0px;
  }