@font-face {
    font-family: 'Knockout';
    src: url("../fonts/02_APompadourTextSample.otf");
  }
  

.login{
    font-family: 'Knockout', sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow:hidden;
    background-color: #fff;
    background-image: 
      radial-gradient(at top left, #f0acb7, transparent),
      radial-gradient(at top right, #ce3b51, transparent),
      radial-gradient(at bottom left, #5f0404, transparent);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.card{
    background: rgba( 21, 20, 20, 0.25 );
    box-shadow: 0 8px 32px rgba(126, 8, 8, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 3rem;
    margin-top: 7rem;
}
.title{
    text-align: center;
    padding-top: 3rem;
    color: #8b0000;
    font-family: 'Knockout', sans-serif;
    z-index: 2;
    font-size: 5.75rem;
}

.form{
    display: grid;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Knockout', sans-serif;
    z-index: 2;
}

.button{
margin: 1rem;
padding: 0.5rem;
font-family: 'Knockout', sans-serif;
z-index: 2;
font-size: 1.25rem;

}
.input{
 padding: 1rem;
 margin: 1rem;
 font-family: 'Knockout', sans-serif;
 z-index: 2;
 font-size: 1.25rem;
}

.button2{
    font-family: 'Knockout', sans-serif;
    padding: 0.5rem;
    margin: 1rem;
    z-index: 2;
    font-size: 1.25rem;

}

.error{
    padding-left: 1rem;;
    color:red;
    z-index: 2;
}

@media screen and (max-width: 500px){
    .title{
        font-size: 3rem;
    }
    .form{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .button{
        font-size: 1.25rem;
    }
    .input{
        font-size: 1.25rem;
    }
    .button2{
        font-size: 1.25rem;
    }
    .error{
        font-size: 1.25rem;
    }
    
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }