@font-face {
  font-family: "Knockout";
  src: url("./fonts/02_APompadourTextSample.otf");
}

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  padding: 80px;
  gap: 64px;
  font-family: "Knockout", sans-serif;
}

.header {
  margin-top: 15rem;
  font-size: 5.75rem;
  text-align: center;
  color: #fa0505;
}

.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #fa0505;
  border-radius: 30px;
  /* color: #8b0000; */
  color: #fa0505;
  transition: all 0.5s ease-in-out;
  font-family: "knockout", sans-serif;
}

.btntxt {
  z-index: 1;
  font-weight: 800;
  font-size: 1.75rem;
}

.type1::after {
  /* content: ""; */
  /* position: absolute; */
  /* left: 0; */
  /* top: 0; */
  /* transition: all 0.5s ease-in-out; */
  /* background-color: #8b0000; */
  /* border-radius: 30px; */
  /* visibility: hidden; */
  /* height: 10px; */
  /* width: 10px; */
  /* z-index: -1; */
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
  z-index: 2;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.main {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  align-items: center;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.content {
  font-size: 2.5rem;
  text-align: center;
  color: #fa0505;
}

.hero {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../public/fossil.jpg");
  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media screen and (max-width: 650px) {
  .header {
    font-size: 3.75rem;
  }

  .btntxt {
    font-size: 1.25rem;
  }

  .main {
    margin-top: 10rem;
  }

  .content {
    font-size: 1.25rem;
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
